<div class="login-page">
    <mat-card class="mat-elevation-z12">
      <mat-card-title style="text-align:center;">Login/Sign Up</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Login">
            <mat-card-content>
              <form action="">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Email"
                    required
                    name="email"
                    ngModel
                    #email="ngModel">
                    <mat-error *ngIf="email.invalid">Email is required</mat-error>
                  <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Password"
                    type="password"
                    required
                    minlength="6"
                    name="password"
                    ngModel
                    #password="ngModel">
                    <mat-error
                      *ngIf="password.errors && password.errors.required">
                      Password is required
                    </mat-error>
                    <mat-error
                      *ngIf="password.errors && password.errors.minlength">
                      Password must be of length 6
                    </mat-error>
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <mat-checkbox>Remember Me!</mat-checkbox>
                <button
                  mat-raised-button
                  color="primary"
                  class="login-button">
                  Sign In
                </button>
  
                <button
                  mat-raised-button
                  class="login-button">
                  Login with Google
                </button>
              </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Sign Up">
          <mat-card-content>
            <form action="">

              <!-- First name?
              Last name ? -->

              <mat-form-field>
                <input
                  matInput
                  placeholder="User Name"
                  required
                  name="username"
                  ngModel
                  #username="ngModel">
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error
                  *ngIf="username.invalid">
                  Username is required
                </mat-error>
  
              </mat-form-field>

              <mat-form-field>
                <input
                  matInput
                  placeholder="Email"
                  required
                  name="email"
                  ngModel
                  #email="ngModel">
                  <mat-error *ngIf="email.invalid">Email is required</mat-error>
                <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input 
                matInput
                placeholder="Street Address"
                type="streetaddress"
                required
                name="streetaddress"
                ngModel
                #streetaddress="ngModel">
                  <mat-error *ngIf="streetaddress.invalid">Street Address required</mat-error>
                <mat-icon matSuffix>house</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input
                matInput
                placeholder="City"
                type="city"
                required
                name="city"
                ngModel
                #city="ngModel">
                  <mat-error *ngIf="city.invalid">City required</mat-error>
                <mat-icon matSuffix>house</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input
                matInput
                placeholder="State"
                type="state"
                required
                name="state"
                ngModel
                #state="ngModel">
                  <mat-error *ngIf="state.invalid">State required</mat-error>
                <mat-icon matSuffix>house</mat-icon>
              </mat-form-field>

              <mat-form-field>
                <input
                matInput
                placeholder="Postal Code"
                type="postalcode"
                required
                name="postalcode"
                ngModel
                #postalcode="ngModel">
                  <mat-error *ngIf="postalcode.invalid">Postal Code required</mat-error>
                <mat-icon matSuffix>house</mat-icon>
              </mat-form-field>

              <!-- <mat-form-field>
                <input
                matInput
                placeholder="Which account would you like to set up?"
                type="account"
                required
                name="account"
                ngModel
                #account="ngModel">
                  <mat-error *ngIf="account.invalid">Account required</mat-error>
                <mat-icon matSuffix>account_balance</mat-icon>
              </mat-form-field> -->


              <mat-form-field>
                <mat-label>Which account would you like to set up?</mat-label>
                <mat-select>
                  <mat-option *ngFor="let option of options" [value]="option.value">
                    {{option.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <input
                matInput
                placeholder="How much would you like to deposit?"
                type="deposit"
                required
                name="deposit"
                ngModel
                #deposit="ngModel">
                  <mat-error *ngIf="deposit.invalid">$25.00 minimum required</mat-error>
                <mat-icon matSuffix>money</mat-icon>
              </mat-form-field>



              <mat-form-field>
                <input
                  matInput
                  placeholder="Password"
                  type="password"
                  required
                  minlength="6"
                  name="password"
                  ngModel
                  #password="ngModel">
                  <mat-error
                    *ngIf="password.errors && password.errors.required">
                    Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="password.errors && password.errors.minlength">
                    Password must be of length 6
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
  
              </mat-form-field>
              <mat-form-field>
                  <input
                  matInput
                  placeholder="Verify Password"
                  type="password"
                  required
                  minlength="6"
                  name="repassword"
                  ngModel
                  #repassword="ngModel">
                  <mat-error
                    *ngIf="repassword.errors && repassword.errors.required">
                    Re-Enter Password is required
                  </mat-error>
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
              <button
                mat-raised-button
                color="primary"
                class="login-button">
                Sign Up
              </button>
            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>

  